/* Roboto Standard (No Formatting) */

@@font-face {
    font-family: 'Roboto';
    src: url('/font/roboto/Roboto.eot');
    src: url('/font/roboto/Roboto.eot?#iefix') format('embedded-opentype'),
         url('/font/roboto/Roboto.woff') format('woff'),
         url('/font/roboto/Roboto.ttf') format('truetype'),
}

/* Roboto-Bold.eot */
/* Roboto-Bold.ttf */
/* Roboto-Bold.woff */
/* Roboto-Bold.woff2 */
/* Roboto-Light.eot */
/* Roboto-Light.ttf */
/* Roboto-Light.woff */
/* Roboto-Light.woff2 */
/* Roboto-Medium.eot */
/* Roboto-Medium.ttf */
/* Roboto-Medium.woff */
/* Roboto-Medium.woff2 */
/* Roboto-Thin.eot */
/* Roboto-Thin.ttf */
/* Roboto-Thin.woff */
/* Roboto-Thin.woff2 */
